@import "tailwindcss";

*{
  font-family:Outfit;
}

/* .main{
  background-image: url('../assets/header-bg-color.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
} */

#contact{
 background-image: url('/footer-bg-color.png');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}